<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_bundle.css') }}">
</head>
<body>
    <button onclick="location.href='/'">Check Stock</button>
    <button onclick="location.href='/inventory'">Inventory</button>

    <div class="container">
        <h2>Add New Product</h2>
        <input type="text" placeholder="Product Name">
        <input type="text" placeholder="Unit Sell Price">
        <input type="text" placeholder="Tags">

        <h3>Unit Bill Of Materials</h3>
        <div id="billOfMaterials">
            <div class="bom-item">
                <input type="text" class="bom-product" placeholder="Product Name">
                <input type="text" class="bom-qty" placeholder="Qty">
            </div>
            <div class="bom-item">
                <input type="text" class="bom-product" placeholder="Product Name">
                <input type="text" class="bom-qty" placeholder="Qty">
            </div>
            <div class="bom-item">
                <input type="text" class="bom-product" placeholder="Product Name">
                <input type="text" class="bom-qty" placeholder="Qty">
            </div>
        </div>

        <button onclick="addProduct()">Create Product</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
