<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Heveya App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="logo">Heveya</div>
        <a href="/" class="sidebar-link {% if request.path == '/' %}active{% endif %}">Dashboard</a>
        <a href="/sales_quote" class="sidebar-link {% if request.path.startswith('/sales_quote') %}active{% endif %}">Sales Quote</a>
        <a href="/products" class="sidebar-link {% if request.path.startswith('/bedsheets') %}active{% endif %}">Products</a>
        <a href="/customer" class="sidebar-link {% if request.path.startswith('/crm') %}active{% endif %}">Customers</a>
        <a href="/sales_order" class="sidebar-link {% if request.path.startswith('/sales_order') %}active{% endif %}">Delivery</a>
    </div>
    <div class="main-content">
        {% block content %}
        <!-- Child page content goes here -->
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
