<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Stock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button onclick="location.href='/inventory'" class="add-product-btn">Add Product</button>

    <h1>Check Stock</h1>
    <div class="input-container">
        <input type="text" id="productName" placeholder="Select Product" oninput="suggestProducts()">
        <div id="suggestions"></div>
    </div>
    <button onclick="checkStock()" class="check-stock-btn">Check Stock</button>

    <h2>Result:</h2>
    <table id="resultTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Total Stock</th>
                <th>Unit Price</th>
                <th>Product Tags</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
