<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Stock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button onclick="location.href='/inventory'" class="add-product-btn">Add Product</button>
    <button onclick="location.href='/crm'" class="crm-btn">CRM</button>
    <button onclick="location.href='/bedsheets'" class="bedsheets-btn">Bedsheets</button>
    <button onclick="location.href='/sales_reports'" class="bedsheets-btn">Sales Reports</button>
    <button onclick="location.href='/sales_kpi'" class="bedsheets-btn">Sales KPI</button>
    <button onclick="location.href='/sales_invoice'" class="bedsheets-btn">Sales Invoice</button>

    <h1>Check Stock</h1>
    <div class="input-container">
        <input type="text" id="productName" placeholder="Select Product" oninput="suggestProducts()">
        <div id="suggestions"></div>
    </div>
    <button id="searchButton" class="check-stock-btn">Search</button>

    <h2>Result:</h2>
    <table id="resultTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>On Hand</th>
                <th>Booked/Sold</th>
                <th>Free</th>
                <th>Upcoming</th>
                <th>Unit Sell Price</th>
                <th>Unit Buy Price</th>
                <th>tags</th>
            </tr>
        </thead>
        <tbody id="stockTableBody"></tbody>
    </table>

    <!-- Modal for BOM -->
    <div id="bomModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('bomModal').style.display='none'">&times;</span>
            <div id="bomModalContent"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
