<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_product.css') }}">
</head>
<body>
    <button onclick="location.href='/'">Check Stock</button>
    <button onclick="location.href='/add_product'">Add New Product</button>

    <h2>Add Inventory Product</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
        <form id="inventoryForm">
            <div id="productList">
                <div class="productRow">
                    <input type="text" placeholder="Product Name" class="product-name">
                    <input type="number" placeholder="Unit Buy Price" class="unit-price">
                    <input type="number" placeholder="Qty" class="quantity">
                    <input type="text" placeholder="Tags" class="tags">
                </div>
            </div>
            <p onclick="addNewRow()" class="addProduct">
                + Add More Product
            </p>
            <button type="button" class="button" onclick="saveProduct()">Save Product</button>
        </form>

        <div id="stockList">
            <h3>Stock Inventory:</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Unit Buy Price</th>
                        <th>Qty</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody id="stockTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='add_product.js') }}"></script>
</body>
</html>
